<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Titre{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/64f57eceaa.js"></script>
</head>
<body>
{% load bootstrap4 %}
{% load static %}


<div class="jumbotron">
    <h1>Gestionnaire de tâches</h1>
    <h5>Gérez simplement vos projets et vos tâches.</h5>
    <div class="row justify-content-between">
        <div>
            <h6>Bienvenue {{ user.username }} !</h6>
        </div>
        {#TODO augmenter taille de l'icone#}
        <div>
            <a href='{% url "logout" %}'>
                <p><i class="fa fa-sign-out" aria-hidden="true"></i></p>
            </a>
        </div>
    </div>
    {% block jumbotron %}
    {% endblock %}
</div>

<nav>
    {% block nav %}
    {% endblock %}
</nav>


<section id="content">
    {% block content %}{% endblock %}
</section>

{#    TODO Il m'affiche le footer en plein milieu de la page ! #}

<footer>
       <p>&copy; Coline van Leeuwen, 2020</p>
</footer>
</body>
</html>