<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Titre{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/64f57eceaa.js"></script>
</head>
<body>
{% load bootstrap4 %}
{% load static %}


<div class="jumbotron">
    <h1><a href='{% url "projects" %}'>Gestionnaire de tâches</a></h1>
    <h5>Gérez simplement vos projets et vos tâches.</h5>
    <hr>

    {% if user.is_authenticated %}
        <a href='{% url "logout" %}'>
            <p><i class="fa fa-sign-out fa-3x close text-primary" aria-hidden="true"></i></p>
        </a>
    {% endif %}
    <h6>Bienvenue {{ user.username }} !</h6>

</div>
{% block jumbotron %}
{% endblock %}
</div>


<div class="container-fluid">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-light" style="background-color:#e9ecef">
            {% block nav %}
            {% endblock %}
        </nav>
    {% endif %}
    <br>
</div>


<section id="content">
    {% block content %}{% endblock %}
    <br>
</section>

<footer>
    <div class="container text-center">
        <p>&copy; Coline van Leeuwen, avril 2020</p>
    </div>
</footer>

</body>
</html>