{% extends "base.html" %}
{% block title %}Accueil{% endblock %}

{# Haut de page #}
{% block head %}
    <!-- Titre de la page -->
    <div class="container" id="titre">
        <h1>Bienvenue, {{ user.username }} !</h1>
    </div>
{% endblock %}

{# Contenu #}
{% block content %}
    <br>
    <div class="container">
        <div class="paragraph">
            <p>Vous participez à <b>{{ nb_projects }}</b> <a href="{% url 'projects' %}">projet{{ plural_project }}</a>, dont
                <b>{{ nb_tasks }}</b> <a href="{% url 'usertasks_all' %}">tâche{{ plural_task }}.</a></p>
        </div>
        <div class="paragraph">
            <p>Vous avez <b>{{ nb_tasks_unfinished }}</b> <a href="{% url 'usertasks_unfinished' %}">tâche{{ plural_task_un }}
                non terminée{{ plural_task_un }}</a>.</p>

            {# Affiche la tâche non terminée avec le plus grand taux d'avancement #}
            {% if task_most_progress %}
            <p>Votre tâche la plus avancée est :
                <a href="{% url 'task' task_most_progress.id %}">  {{ task_most_progress }}  </a>
                , à <b>{{ task_most_progress.progress }} %</b>, dans
                <a href="{% url 'project' task_most_progress.project_id %}">{{ task_most_progress.project }}</a>.
            </p>
            {% endif %}
        </div>

        <div class="paragraph">
            <p>Vous avez <b>{{ nb_tasks_done }}</b> <a href="{% url 'usertasks_done' %}">tâche{{ plural_task_done }} terminée{{ plural_task_done }}</a>.</p>
        </div>

        <div class="paragraph">
            <p>Depuis
                <span title="{{ date_last_connection }}"><U>la dernière fois que vous vous êtes connectés</U></span>,
                <b>{{ nb_all_entries_last_connection }}</b>
                <a href="{% url 'activity_all' %}">entrée{{ plural_entry }} de journal</a>
                {{ plural_entry_bis }} été rajoutée{{ plural_entry }}, dont
                <b>{{ nb_entries_last_connection }}</b>
                sur vos tâches.</p>
        </div>

    </div>
{% endblock %}
