{% extends "base.html" %}
{% block title %}Accueil{% endblock %}

{# Haut de page #}
{% block head %}
    <!-- Titre de la page -->
    <div class="container" id="titre">
        <h1>Bienvenue, {{ user.username }} !</h1>
    </div>
{% endblock %}

{# Contenu #}
{% block content %}
    <div class="container">
        <div class="paragraph">
            <p>Vous participez à <b>{{ nb_projects }}</b> <a href="{% url 'projects' %}">projets</a>, dont
                <b>{{ nb_tasks }}</b> <a href="{% url 'usertasks_all' %}">tâches.</a></p>
        </div>
        <div class="paragraph">
            <p>Vous avez <b>{{ nb_tasks_unfinished }}</b> <a href="{% url 'usertasks_unfinished' %}">tâches
                non terminées</a>.</p>
            <!-- Affiche la tâche non terminée avec le plus grand taux d'avancement -->
            <p>Votre tâche la plus avancée est :
                <a href="{% url 'task' task_most_progress.id %}">  {{ task_most_progress }}  </a>
                , à <b>{{ task_most_progress.progress }} %</b>, dans
                <a href="{% url 'project' task_most_progress.project_id %}">{{ task_most_progress.project }}</a>.
            </p>
        </div>
        <br>

        <p>Vous avez <strong>{{ nb_tasks_done }}</strong> <a href="{% url 'usertasks_done' %}">tâches terminées</a>.</p>
        <br>

        <p>Depuis <span title="{{ date_last_connection }}"><U>la dernière fois que vous vous êtes connectés</U></span>, <strong>{{ nb_all_entries_last_connection }}</strong> <a href="{% url 'activity_all' %}">entrée{{ plural }} de journal</a> {{ plural_bis }} été rajoutée{{ plural }}, dont <strong>{{ nb_entries_last_connection }}</strong> sur vos tâches.</p>
    </div>
{% endblock %}
