{% extends "base.html" %}
{% block title %}Members of all projects{% endblock %}
{% load bootstrap4 %}

{# Haut de page #}
{% block head %}
    <div class="container" id="titre">
        <h2>Dernière activité dans <i>{{ projet }}</i></h2>
    </div>
{% endblock %}

{# Contenu de la page #}
{% block content %}

    <div class="container" id="nombre-a-afficher">
        <form method="get" action="{% url 'activity_per_project' projet.id %}">
            <div class="form-group row">
                <!-- Option pour choisir combien d'entrées on affiche -->
                {#                TODO affichage pas parfait#}
                <label class="col-sm-3 col-form-label text-right" for="choix-afficher">
                    Nombre de tâches à afficher :
                </label>
                <div class="col-sm-2">
                    <select name="affiche" class="form-control" title="" id="choix-afficher">
                        {% for aff, val in dict_choices.items %}
                            {% if val == affiche %}
                                <option value={{ val }} selected>{{ aff }}</option>
                            {% else %}
                                <option value={{ val }}>{{ aff }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- Option pour ne pas afficher les entrées de l'utilisateur -->
                <input type="checkbox" name="notmyentries" id="entrees-user">
                <label for="entrees-user">
                    Ne pas afficher mes entrées
                </label>

                <button type="submit" class="btn btn-primary">Mettre à jour</button>
            </div>
        </form>
    </div>

    <!-- Affichage des entrées -->
    <div class="container" id="activite">
        {% if list_entries %}
            <!-- Dans le cas où list_entries n'est pas vide -->
            <table class="table table-hover">
                <!-- Entête de la table -->
                <thead class="thead-light">
                <tr>
                    <th>Tâche</th>
                    <th>Entrée du journal</th>
                    <th>Auteur</th>
                    <th>Date</th>
                </tr>
                </thead>

                <!-- Corps de la table -->
                {% for entry in list_entries %}
                    <tr>
                        <td><a href="{% url 'task' entry.task.id %}">{{ entry.task|truncatewords:50 }}</a></td>
                        <td>{{ entry }}</td>
                        <td><span class="badge badge-primary">{{ entry.author }}</span></td>
                        <td><i>{{ entry.date }}</i></td>
                    </tr>
                {% endfor %}
            </table>

        {% else %}
            <!-- Dans le cas où list_entries est vide -->
            <p>Pas d'activité récente</p>
        {% endif %}
    </div>

{% endblock %}
