{% extends "base.html" %}

{% block content %}

    <!-- Sélection des entrées -->
    <div class="container" id="nombre-a-afficher">
        <form method="get" action="{% block url %}{% endblock %}">

            <div class="form-group row">
                <!-- Option pour choisir combien d'entrées on affiche -->
                {# D'abord le label #}
                <div class="col-sm-3 text-right">
                    <label class="col-form-label" for="choix-afficher">
                        Nombre d'entrées à afficher :
                    </label>
                </div>
                {# Puis la sélection du nombre d'entrées #}
                <div class="col-sm-2">
                    <select name="affiche" class="form-control" title="" id="choix-afficher">
                        {% for aff, val in dict_choices.items %}
                            {# Cet if permet d'afficher la valeur actuelle quand on charge la page #}
                            {% if val == affiche %}
                                <option value={{ val }} selected>{{ aff }}</option>
                            {% else %}
                                <option value={{ val }}>{{ aff }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <!-- Option pour ne pas afficher les entrées de l'utilisateur -->
                {# D'abord le label #}
                <div class="col-sm-3 text-right">
                    <label class="col-form-label" for="entrees-user">
                        Ne pas afficher mes entrées :
                    </label>
                </div>
                {# Puis la checkbox #}
                <div class="col-sm-1">
                    {# Cet if permet d'afficher la bonne valeur pour la checkbox quand on charge la page #}
                    {% if notmyentries == "off" %}
                        <input class="form-control" type="checkbox" name="notmyentries" id="entrees-user">
                    {% else %}
                        <input class="form-control" type="checkbox" name="notmyentries" id="entrees-user"
                               checked>
                    {% endif %}
                </div>

                <!-- Bouton de mise à jour -->
                <div class="col-sm-2 offset-sm-1">
                    <button type="submit" class="btn btn-block btn-primary">Mettre à jour</button>
                </div>
            </div>


    </div>
    </form>
    </div>

    {% block entrees %}
    {% endblock %}

{% endblock %}