{% extends "base.html" %}
{% block title %}Edit task{% endblock %}
{% load bootstrap4 %}

{% block nav %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href={% url "projects" %}>Projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'project' tache.project.id %}">{{ tache.project }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'task' tache.id %}">{{ tache }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'edittask' tache.id %}">Edit task</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{{ tache.project }}</h2>
        <h4>Edit task</h4>
        <br>
        <form action="{% url "edittask" tache.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal'%}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Save</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

