{% extends "base.html" %}
{% block title %}Edit task{% endblock %}
{% load bootstrap4 %}

{% block nav %}
    <div class="container">
        <a href={% url "projects" %}>Projets</a> /
        <a href="{% url 'project' task.project.id %}">{{ task.project }}</a> /
        <a href="{% url 'task' task.id %}">{{ task }}</a> /
        <a href="{% url 'edittask' task.id %}">Edit task</a>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{% url "edittask" task.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Save</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

