{% extends "base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block title %}Export data{% endblock %}

{% block nav %}
    <!-- Ce n'est pas la même selon si on édite une tâche ou si on en crée une nouvelle -->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href={% url "projects" %}>Projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'export_data' %}">Exporter les données</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class ='container col-8'>
<form action="{% url 'export_data' %}" method="post">
    {% csrf_token %}
    <h2>Nom et type de fichiers voulus</h2>
    <div class="form-row">
        <div class="form-group col-md-6">{{ form.archive_name|as_crispy_field }}</div>
        <div class="form-group col-md-6">{{ form.file_type|as_crispy_field }}</div>
    </div>
    <h2>Fichiers souhaités</h2>
    <div class="form-row">
        <div class="form-group col-md-3">{{ form.bool_project|as_crispy_field }}</div>
        <div class="form-group col-md-3">{{ form.bool_status|as_crispy_field }}</div>
        <div class="form-group col-md-3">{{ form.bool_task|as_crispy_field }}</div>
        <div class="form-group col-md-3">{{ form.bool_Journal|as_crispy_field }}</div>
    </div>
    <h2>Organisation du répertoire</h2>
    <div class="form-row">
        <div class="form-group col-md-6">{{ form.one_dir_by_project|as_crispy_field }}</div>
        <div class="form-group col-md-6">{{ form.ordered_journal_by_task|as_crispy_field }}</div>
    </div>
    <h2>Projet souhaité</h2>
    <div>
        {{ form.all_projects|as_crispy_field }}
        {{ form.project|as_crispy_field }}
    </div>
    <input type="submit" value="Export Data" class="btn btn-primary">
</form>
</div>
{% endblock %}