{% extends "base.html" %}
{% block title %}{{ method }} task{% endblock %}
{% load bootstrap4 %}


{# Contenu de la page #}
{% block content %}
    <!-- Titre de la page -->
    <div class="container" id="titre">
        <h2>{{ project_related }}</h2>
        <h4>{{ method }} task</h4>
        <br>
    </div>

    <div class="container" id="form">
        <!-- On n'appelle pas le même form selon si on est en édition ou en création -->
        {% if method == 'Edit' %}
            <!-- Cas édition -->
            <form action="{% url "edittask" task_formed.id %}" method="post">
        {% else %}
            <!-- Cas création -->
            <form action="{% url "newtask" project_related.id %}" method="post">
        {% endif %}
        <!-- Dans les deux cas, affichage du form -->
        {% csrf_token %}
        <!-- Début du form, simple -->
        {% bootstrap_field form.name layout='horizontal' %}
        {% bootstrap_field form.description layout='horizontal' %}
        <!-- Choix de l'assignee -->
        <div class="form-group row"><label class="col-md-3 col-form-label" for="id_assignee">Assignee</label>
            <div class="col-md-9">
                <select name="assignee" class="form-control" title="" required id="id_assignee">
                    <option value="">---------</option>
                    {% for mem in list_members %}
                        {% if form.assignee.value|add:0 == mem.id %}
                            {# Ce tag add permet de transformer la value de str en int #}
                            <option value={{ mem.id }} selected>{{ mem }}</option>
                        {% else %}
                            <option value={{ mem.id }}>{{ mem }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Choix de la start_date -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="id_start_date">Start date</label>
            <div class="col-md-9">
                <div class="input-group date" id="id_start_date" data-target-input="nearest">
                    {% if form.start_date.value %}
                        {# Cas où on a déjà une valeur à mettre dans la case #}
                        <input type="text" name="start_date"
                               value={{ form.start_date.value }} class="form-control datetimepicker-input"
                        placeholder="Start date" title="" required id="id_start_date">
                    {% else %}
                        {# Cas où on n'a pas de valeur à mettre dans la case #}
                        <input type="text" name="start_date" class="form-control datetimepicker-input"
                               placeholder="Start date" title="" required id="id_start_date">
                    {% endif %}
                    <div class="input-group-append" data-target="#id_start_date" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choix de la due_date -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="id_due_date">Due date</label>
            <div class="col-md-9">
                <div class="input-group date" id="id_due_date" data-target-input="nearest">
                    {% if form.due_date.value %}
                        {# Cas où on a déjà une valeur à mettre dans la case #}
                        <input type="text" name="due_date" value={{ form.due_date.value }} class="form-control
                               datetimepicker-input" placeholder="Due date" title="" required id="id_due_date">
                    {% else %}
                        {# Cas où on n'a pas de valeur à mettre dans la case #}
                        <input type="text" name="due_date" class="form-control datetimepicker-input"
                               placeholder="Due date"
                               title="" required id="id_due_date">
                    {% endif %}
                    <div class="input-group-append" data-target="#id_due_date" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin du form, simple -->
        {% bootstrap_field form.priority layout='horizontal' %}
        {% bootstrap_field form.status layout='horizontal' %}
        {% bootstrap_field form.progress layout='horizontal' %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">Save</button>
        {% endbuttons %}
        </form>
    </div>


    {# Script pour faire fonctionner le calendrier #}
    <script type="text/javascript">
        $(function () {
            $('#id_start_date').datetimepicker({
                format: 'DD/MM/YYYY',
            });
            $('#id_due_date').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/YYYY',
            });
            $("#id_start_date").on("change.datetimepicker", function (e) {
                $('#id_due_date').datetimepicker('minDate', e.date);
            });
            $("#id_due_date").on("change.datetimepicker", function (e) {
                $('#id_start_date').datetimepicker('maxDate', e.date);
            });
        });
    </script>

{% endblock %}