{% extends "base.html" %}
{% block title %}{{ method }} tâche{% endblock %}
{% load bootstrap4 %}

{# Haut de page #}
{% block head %}
    <!-- Titre de la page -->
    <div class="container" id="titre">
        <h2>{{ project_related }}</h2>
        <h4>{{ method }} tâche</h4>
        <br>
    </div>
{% endblock %}

{# Contenu de la page #}
{% block content %}


    <div class="container" id="form">
        <!-- On n'appelle pas le même form selon si on est en édition ou en création -->
        {% if method == 'Modifier' %}
            <!-- Cas édition -->
            <form action="{% url "edittask" task_formed.id %}" method="post">
        {% else %}
            <!-- Cas création -->
            <form action="{% url "newtask" project_related.id %}" method="post">
        {% endif %}
        <!-- Dans les deux cas, affichage du form -->
        {% csrf_token %}
        <!-- Début du form, simple -->
        {% bootstrap_field form.name layout='horizontal' %}
        {% bootstrap_field form.description layout='horizontal' %}
        {% bootstrap_field form.assignee layout='horizontal' %}
        <!-- Choix de la start_date -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="id_start_date">Date de début</label>
            <div class="col-md-9">
                <div class="input-group date" id="id_start_date" data-target-input="nearest">
                    {% if form.start_date.value %}
                        {# Cas où on a déjà une valeur à mettre dans la case #}
                        <input type="text" name="start_date"
                               value={{ form.start_date.value }} class="form-control datetimepicker-input"
                        placeholder="Date de début" title="" required id="id_start_date">
                    {% else %}
                        {# Cas où on n'a pas de valeur à mettre dans la case #}
                        <input type="text" name="start_date" class="form-control datetimepicker-input"
                               placeholder="Date de début" title="" required id="id_start_date">
                    {% endif %}
                    <div class="input-group-append" data-target="#id_start_date" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choix de la due_date -->
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="id_due_date">Date de fin</label>
            <div class="col-md-9">
                <div class="input-group date" id="id_due_date" data-target-input="nearest">
                    {% if form.due_date.value %}
                        {# Cas où on a déjà une valeur à mettre dans la case #}
                        <input type="text" name="due_date" value={{ form.due_date.value }} class="form-control
                               datetimepicker-input" placeholder="Date de fin" title="" required id="id_due_date">
                    {% else %}
                        {# Cas où on n'a pas de valeur à mettre dans la case #}
                        <input type="text" name="due_date" class="form-control datetimepicker-input"
                               placeholder="Date de fin"
                               title="" required id="id_due_date">
                    {% endif %}
                    <div class="input-group-append" data-target="#id_due_date" data-toggle="datetimepicker">
                        <div class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Priorité de la tâche -->
        <div class="form-group row">
            <label class="col-sm-3" for="priority">Priorité</label>
            <div class="col-sm-9">
                <input class="custom-range w-75" name="priority" type="range" value="{{ task_formed.priority }}" max="10" onchange="updateSlider(this.value,'value-priority-slider')">
                <span id="value-priority-slider">{{ task_formed.priority }}</span>
            </div>
        </div>

        <!-- Statut de la tâche -->
        {% bootstrap_field form.status layout='horizontal' %}

        <!-- Taux d'avancement de la tâche -->
        <div class="form-group row">
            <label class="col-sm-3" for="priority">Taux d'avancement</label>
            <div class="col-sm-9">
                <input class="custom-range w-75" name="progress" type="range" value="{{ task_formed.progress }}" step="5" onchange="updateSlider(this.value,'value-progress-slider')">
                <span id="value-progress-slider">{{ task_formed.progress }}</span>
            </div>
        </div>

        {% buttons %}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {% endbuttons %}
        </form>
    </div>


    {# Script pour faire fonctionner le calendrier #}
    <script type="text/javascript">
        $(function () {
            $('#id_start_date').datetimepicker({
                format: 'DD/MM/YYYY',
            });
            $('#id_due_date').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/YYYY',
            });
            $("#id_start_date").on("change.datetimepicker", function (e) {
                $('#id_due_date').datetimepicker('minDate', e.date);
            });
            $("#id_due_date").on("change.datetimepicker", function (e) {
                $('#id_start_date').datetimepicker('maxDate', e.date);
            });
        });
    </script>

    {# Script pour mettre à jour le slider de priority et de progress #}
    <script>
        function updateSlider(val, id) {
            document.getElementById(id).innerText = val
        }
    </script>

{% endblock %}