{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Projects{% endblock %}

{% block nav %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href={% url "projects" %}>Projets</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Vos projets</h1>
    </div>
    <div class="container">
        {% if liste_projets %}
            <table class="table table-hover">
                {% for projet in liste_projets %}
                    <tr>
                        <td><a href="{% url 'project' projet.id %}">{{ projet }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Vous n'avez pas de projet...</p>
        {% endif %}
    </div>

{% endblock %}
