{% extends "base.html" %}
{% block title %}Project{% endblock %}

{% block nav %}
    <p>
        <a href={% url "projects" %}>Projets</a> /
        <a href="{% url 'project' projet.id %}">{{ projet }}</a>
    </p>
{% endblock %}

{% block content %}
    <h1>Projet : {{ projet }}</h1>

    <div class="container">


        <table class="table">
            <thead>
            <tr>
                <th>Task</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>
            {% for task in liste_taches %}
                <tr>
                    <td><a href="{% url 'task' task.id %}">{{ task }}</a></td>
                    <td>{{ task.assignee }}</td>
                    <td>{{ task.start_date }}</td>
                    <td>{{ task.due_date }}</td>
                    <td><a href="{% url 'edittask' task.id %}">
                        {#           TODO centrer dans la case#}
                        <p><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>

                    </a></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>


    {#    TODO liste vide ?#}

    {#TODO transformer ça en un bouton#}
    <p><a href={% url "newtask" %}>Créer une nouvelle tâche.</a></p>
{% endblock %}
