{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block nav %}
    <p>
        <a href={% url "projects" %}>Projets</a>
    </p>
{% endblock %}

{% block content %}
    <div>
        <h1>Vos projets</h1>
    </div>
    <table class="table table-hover">
    {% for projet in liste_projets %}
        <tr><td><a href="{% url 'project' projet.id %}">{{ projet }}</a></td></tr>
    {% empty %}
        <p>Vous n'avez pas de projet...</p>
    {% endfor %}
{% endblock %}

{#TODO ici et seulement ici il me met le footer en plein milieu de la page !#}

