{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Projects{% endblock %}

{# Haut de page #}
{% block head %}
    <!-- Titre de la page et bouton pour ajouter un nouveau projet -->
    <div class="container" id="titre">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    Mes projets
                    {# Bouton pour ajouter un projet #}
                    <a class="btn btn-primary text-white float-right" href={% url "newproject" %}>
                        <i class="fa fa-plus-circle fa-lg" title="New project" aria-hidden="true"></i>
                        Nouveau projet
                    </a>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}

{# Contenu de la page #}
{% block content %}
    <!-- Affichage de la liste des projets -->
    <div class="container" id="listeProjets">
        {% if list_projects %}
            <!-- Cas où l'utilisateur a des projets -->
            <table class="table table-hover text-center">
                <!-- En-tête de la table -->
                <thead class="thead-light">
                <tr>
                    <th>Nom du projet</th>
                    <th>Nombre de membres</th>
                    <th>Nombre de tâches</th>
                    <th>Taux d'avancement</th>
                </tr>
                </thead>
                <!-- Corps de la table, boucle sur les projets -->
                <tbody>
                {% for project in list_projects %}
                    <tr>
                        <td><a href="{% url 'project' project.id %}">{{ project|truncatechars:50 }}</a></td>
                        <td>{{ project.nbMembers }}</td>
                        <td>{{ project.nbTasks }}</td>
                        <td>{{ project.progress }} %</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- Cas où l'utilisateur n'a pas de projets -->
            <p>Vous n'avez pas de projet...</p>
        {% endif %}
    </div>
{% endblock %}
