{% extends "base.html" %}
{% block title %}Project{% endblock %}

{% block nav %}
    <p>
        <a href={% url "projects" %}>Projets</a> /
        <a href="{% url 'project' projet.id %}">{{ projet }}</a>
    </p>
{% endblock %}

{% block content %}
    <h1>Projet {{ projet }}</h1>
    {% for task in liste_taches %}
        <p>
            <a href="{% url 'task' task.id %}">{{ task }}</a>
            <a href="{% url 'edittask' task.id %}">Modifier la tâche</a>
        </p>

    {% empty %}
        <p>Il n'y a pas de tâche dans ce projet...</p>
    {% endfor %}

    {#TODO transformer ça en un bouton#}
    <p><a href={% url "newtask" %}>Créer une nouvelle tâche.</a></p>
{% endblock %}
