{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% load bootstrap4 %}
{% load static %}


{# Barre de navigation #}
{% block nav %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href={% url "projects" %}>Projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'project' id_project %}">{{ project_to_display }}</a>
        </li>
    </ul>
{% endblock %}

{# Contenu de la page #}
{% block content %}

    <!-- Titre de la page et bouton pour ajouter une tâche -->
    <div class="container" id="titre">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    {# Nom du projet #}
                    {{ project_to_display }}
                    {# Bouton pour ajouter une tâche #}
                    <a href={% url "newtask" id_project %}>
                        <i class="fa fa-plus-circle fa-pull-right" title="New task" aria-hidden="true"></i>
                    </a>
                </h1>
            </div>
        </div>
    </div>

    <!-- Liste des tâches -->
    <div class="container" id="listeTaches">

        {% if list_tasks %}
            <!-- Cas où la liste des tâches n'est pas vide -->
            <table class="table table-hover">
                <!-- En-tête de la table -->
                <thead class="thead-light">
                <tr>
                    <th>Tâche</th>
                    <th>Assignée à</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th></th>
                </tr>
                </thead>
                <!-- Corps de la table, boucle sur les tâches -->
                <tbody>
                {% for task in list_tasks %}
                    <tr>
                        <td><a href="{% url 'task' task.id %}">{{ task }}</a></td>
                        <td><span class="badge badge-primary">{{ task.assignee }}</span></td>
                        <td><i>{{ task.start_date|date:"SHORT_DATE_FORMAT" }}</i></td>
                        <td><i>{{ task.due_date|date:"SHORT_DATE_FORMAT" }}</i></td>
                        <td><a href="{% url 'edittask' task.id %}">
                            <p><i class="fa fa-pencil-square-o fa-2x" title="Modify task" aria-hidden="true"></i></p>
                        </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <!-- Cas où le projet n'a aucune tâche associée -->
            <p>Aucune tâche !</p>
        {% endif %}

    </div>

    <!-- Affichage d'un diagramme de Gantt -->
    <div class="container" id="container">

        {#        TODO : faire passer le script dans un autre fichier#}
        {#        <script type="text/javascript" src="{% static 'js/basicGanttChart.js' %}"></script>#}
        
        <script>
            //_projet = {{ project_to_display|safe }};
            //alert(_projet);
            var options = {
                series: [{
                    name: "test",
                    data: [{
                        name: 'Start prototype',
                        start: Date.UTC(2014, 10, 18),
                        end: Date.UTC(2014, 10, 20)
                    }]
                }]
            };

            options.series[0].data.push({
                name: 'End prototype',
                start: Date.UTC(2014, 10, 28),
                end: Date.UTC(2014, 10, 30)
            })

            var chart = new Highcharts.ganttChart('container', options);

        </script>

    </div>

{% endblock %}
