{% extends "base.html" %}
{% block title %}Se connecter{% endblock %}
{% load bootstrap4 %}


{% block content %}

    <!-- Le form de connexion -->
    <div class="container" id="login">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_field form.username show_label=False addon_before='<i class="fa fa-user fa-fw" aria-hidden="true"></i>'%}
            {% bootstrap_field form.password show_label=False addon_before='<i class="fa fa-key fa-fw" aria-hidden="true"></i>'%}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Se connecter</button>
            {% endbuttons %}

            <!-- This hidden input is used to redirect the user to a page where his last login will be record -->
            <input type="hidden" name="next" value="{% url 'record_date' %}"/>
        </form>
    </div>

    <!-- Lien pour se créer un compte -->
    <div class="container" id="newuser">
        <p>Vous voulez vous créer un compte ? C'est par <a href="{% url 'newuser' %}">ici</a>.</p>
    </div>

{% endblock %}

