{% extends "base.html" %}
{% block title %}Se connecter{% endblock %}
{% load bootstrap4 %}


{% block nav %}
    <div class="container">
        <a href={% url "login" %}>Se connecter</a> /
    </div>
{% endblock %}

{% block content %}
    <div class="container">
{#    TODO faire disparaitre username et password qui servent a rien#}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Login</button>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}

