{% extends "base.html" %}
{% block title %}Se créer un compte{% endblock %}
{% load bootstrap4 %}

{# Haut de page #}
{% block head %}
    <!-- Titre de la page -->
    <div class="container">
        <h1>Création de compte</h1>
        <h4>Remplissez le formulaire pour créer votre compte</h4>
    </div>
{% endblock %}

{# Contenu de la page #}
{% block content %}
    <!-- Le form de création de compte -->
    <div class="container">
        <form method="post" action="{% url 'newuser' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Créer mon compte</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}

